@page "/GroupPage"
@page "/GroupPage/{Id:int}" 

@using Sep3Blazor.Model
@using Sep3Blazor.Component
@using Sep3Blazor.Data.GroupMembersData
@using Sep3Blazor.Data.NoteData
@inject INoteService _noteService
@inject IGroupMembersService _groupMembersService
@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<Title Value="@("Group " + Id)"></Title>
<h3>GroupPage @Id</h3>
<TabControl>
    <TabPage Text="Notes">
        <NoteListComponent GroupId="@Id"></NoteListComponent>
    </TabPage>
    <TabPage Text="Members">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6">
                <MemberListComponent GroupId="@Id"></MemberListComponent>
            </div>
            <div class="col-sm-6">
                <InviteComponent GroupId="@Id"></InviteComponent>
            </div>
        </div>
    </TabPage>
</TabControl>

@code {

    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    public IList<Note> Notes { get; set; }
    public IList<GroupMembers> GroupMembersList { get; set; }


    protected override async Task OnInitializedAsync()
    {
        {
            Notes = await _noteService.GetNoteList(Id.ToString());
            GroupMembersList = await _groupMembersService.GetGroupMemberList(Id);
            Console.WriteLine(Notes.Count);
            Console.WriteLine(GroupMembersList.Count);
        }
    }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

}