@page "/GroupPage"
@page "/GroupPage/{Id:int}" 

@using Sep3Blazor.Data.Refresh
@using Sep3Blazor.Model
@using Sep3Blazor.Data.GroupMembersData
@using Sep3Blazor.Data.NoteData
@inject INoteService _noteService
@inject IGroupMembersService _groupMembersService
@inject IRefreshService _refreshService
<h3>GroupPage</h3>


@if (Notes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="row" style=" text-align:center">
        <div class="col-sm-6" style="display:inline">
            <table class="table" id="datatable">
                <thead>
                <tr>
                    <th>week</th>
                    <th>year</th>
                    <th>name</th>
                    <th>status</th>
                    <th>text</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var note in Notes)
                {
                    <tr class="onHoverChange" @onclick="@(() => ChangeSelectedNote(note))">
                        <td>@note.week</td>
                        <td>@note.year</td>
                        <td>@note.name</td>
                        <td>@note.status</td>
                        <td>@note.text</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div class="col-sm-6" style="display:inline">
            <table class="table" id="datatable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>MemberId</th>
                    <th>Username</th>
                    <th>GroupId</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var members in GroupMembersList)
                {
                    <tr class="onHoverChange" @onclick="@(() => ChangeSelectedGroup(members))">
                        <td>@members.id</td>
                        <td>@members.userId</td>
                        <td>@members.username</td>
                        <td>@members.groupId</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>


    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }


    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    public string Value { get; set; }

    public IList<Note> Notes { get; set; }
    public IList<GroupMembers> GroupMembersList { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("AdultPage");
        {
            _refreshService.RefreshRequested += RefreshState;
            Notes = await _noteService.GetNoteList(Id.ToString());
            GroupMembersList = await _groupMembersService.GetUserList(9);
            Console.WriteLine(Notes.Count);
            Console.WriteLine(GroupMembersList.Count);
        }
    }

    private void ChangeSelectedNote(Note note)
    {
        Value = note.id.ToString();
    }

    public async void RefreshState()
    {
        StateHasChanged();
        Console.WriteLine("Hey, i got called from componet");
        Notes = await _noteService.GetNoteList(Id.ToString());
    }


    private void ChangeSelectedGroup(GroupMembers groupMembers)
    {
        Value = groupMembers.id.ToString();
    }

}