@page "/Notes"
@page "/Notes/{Id:int}" 
@using Sep3Blazor.Model
@using Sep3Blazor.Data
@using Sep3Blazor.Data.NoteData
@namespace NotesComponent
@inject INoteService _noteService

<h1>Note Testing</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      @if (NoteList == null)
      {
        
      } else {
        <p>Week @WeekInFocus</p>
        <table class='table'>
          <thead>
          <tr>
            <th>Note ID</th>
            <th>User ID</th>
            <th>Group ID</th>
            <th>Week</th>
            <th>Year</th>
            <th>Name</th>
            <th>Status</th>
            <th>Text</th>
          </tr>
          </thead>
          <tbody>
          @foreach (var note in NoteList)
          {
            @if (note.week == (WeekInFocus-1))
            {
              <tr>
                <td>@note.id</td>
                <td>@note.userId</td>
                <td>@note.groupId</td>
                <td>@note.week</td>
                <td>@note.year</td>
                <td>@note.name</td>
                <td>@note.status</td>
                <td>@note.text</td>
              </tr>
            }
          }
          </tbody>
        </table>
      }
    </div>
    <div class="col-sm">
      @if (NoteList == null)
      {
            
      } else {
        <p>Week @WeekInFocus-1</p>
        <table class='table'>
          <thead>
          <tr>
            <th>Note ID</th>
            <th>User ID</th>
            <th>Group ID</th>
            <th>Week</th>
            <th>Year</th>
            <th>Name</th>
            <th>Status</th>
            <th>Text</th>
          </tr>
          </thead>
          <tbody>
          @foreach (var note in NoteList)
          {
            @if (note.week == WeekInFocus)
            {
              <tr>
                <td>@note.id</td>
                <td>@note.userId</td>
                <td>@note.groupId</td>
                <td>@note.week</td>
                <td>@note.year</td>
                <td>@note.name</td>
                <td>@note.status</td>
                <td>@note.text</td>
              </tr>
            }
          }
          </tbody>
        </table>
      }
    </div>
    <div class="col-sm">
      @if (NoteList == null)
      {
            
      } else {
        <p>Week @WeekInFocus+1</p>
        <table class='table'>
          <thead>
          <tr>
            <th>Note ID</th>
            <th>User ID</th>
            <th>Group ID</th>
            <th>Week</th>
            <th>Year</th>
            <th>Name</th>
            <th>Status</th>
            <th>Text</th>
          </tr>
          </thead>
          <tbody>
          @foreach (var note in NoteList)
          {
            @if (note.week.Equals(WeekInFocus + 1))
            {
              <tr>
                <td>@note.id</td>
                <td>@note.userId</td>
                <td>@note.groupId</td>
                <td>@note.week</td>
                <td>@note.year</td>
                <td>@note.name</td>
                <td>@note.status</td>
                <td>@note.text</td>
              </tr>
            }
          }
          </tbody>
        </table>
      }
    </div>
  </div>
</div>


@code{

  [Parameter]
  public int Id { get; set; }
  public IList<Note> NoteList { get; set; }
  public int WeekInFocus = 1;
  
  protected override async Task OnInitializedAsync()
  {
    NoteList = await _noteService.GetNoteList(Id.ToString());
  }
  

}